.review-container {
  position: relative;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  content: align-center;
  font-family: 'Raleway', sans-serif;
}

.review-grid {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  content: align-center;
}

.left {
  grid-column: 2/3;
  text-align: center;
  vertical-align: middle;
  padding: 5%;
}

.center {
  grid-column: 3/4;
  text-align: center;
  vertical-align: middle;
  padding: 5%;
}

.right {
  grid-column: 4/5;
  text-align: center;
  vertical-align: middle;
  padding: 20%;
}

.review-header {
  text-align: center;
  font-family: 'Ribeye Marrow', cursive;
  font-size: 4em;
}

.icon {
  padding: 30px;
}

#new-review-button {
  font-size: 40px;
}

#petname {
  font-size: 3vw;
}

.myButton {
	background-color:#0C5E75;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  margin-left: 10px;
  margin-bottom: 10px;
}

.myButton:hover {
	background-color:#1392B5;
}
.myButton:active {
	position:relative;
	top:1px;
}
