.review-container {
  position: relative;
  grid-column: 1/6;
  grid-row: 3/4;
  background-color: #8BD7D2;
  content: align-center;
  font-family: 'Raleway', sans-serif;
}

.review-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  content: align-center;
}

.left {
  grid-column: 2/3;
  text-align: center;
  vertical-align: middle;
  padding: 5%;
}

.center {
  grid-column: 3/4;
  text-align: center;
  vertical-align: middle;
  padding: 5%;
}

.right {
  grid-column: 4/5;
  text-align: center;
  vertical-align: middle;
  padding: 20%;
}

.review-header {
  text-align: center;
  font-family: 'Ribeye Marrow', cursive;
  font-size: 4em;
}

.icon {
  padding: 30px;
}

.myButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Raleway', sans-serif;
	font-size:17px;
	padding:20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  margin: 10px;
}

.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
