
.home {
  min-height: 100vh;
  grid-column: 1/6;
  grid-row: 3/4;
  background-image: url('../assets/img3.jpg');
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  opacity: 0.5;
  content: align-center;
  font-family: 'Raleway', sans-serif;

}

.home-center {
  text-align: center;
  vertical-align: middle;
  padding: 2%;
  opacity: 1;
}
