.home-image {
  width: 600px;
  height: 600px;
  border-radius: 25px;
}

.flip-card {
  background-color: transparent;
  width: 600px;
  height: 600px;
  perspective: 1000px;
  border-radius: 25px;
  margin: 50px auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 25px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 25px;
}

.flip-card-back {
  background-color: #4ABBBF;
  color: #041F2D;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  transform: rotateY(180deg);
  padding: 2%;
  border-radius: 25px;
}

.home {
  min-height: 100vh;
  /* grid-column: 1/6; */
  /* grid-row: 3/4; */
  opacity: 0.8;
  font-family: 'Raleway', sans-serif;

  background-color: #ff7e6b;
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23f6de2b' fill-opacity='0.79' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#image-container {
  grid-column: 2/3;
  position: relative;
  text-align: center;
  padding: 5%;
}

.flip-card-header {
  font-family: 'Ribeye Marrow', cursive;
  font-size: 1.5em;
  color: #041F2D;
}
