.header {
  grid-column: 1 / 6;
  background-color: #FF7E6B;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #5D737E;
  font-family: 'Ribeye Marrow', cursive;
  font-size: 3em;
}
